@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../public/fonts/JetBrainsMono-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../public/fonts/JetBrainsMono-Thin.woff2");
  font-weight: 100;
}

/* font styling defined above */ 


.buttonContainer {
  background-color: #1b1b1b;
  border: 1px solid #272727;
  width: 100%;
  margin-top: 4rem;
  padding: 2rem;
  outline: none;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: .3s;
}

.buttonContainer:hover {
  background-color: #1a1a1a;
  transition: ease-in-out;
  transition-duration: .3s;
}

.buttonCopy {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 300;

  color: #fff;
}

@media (max-width: 760px) {
  .buttonContainer {
    background: #1B1B1B;
    border: 1px solid #272727;
    width: 100%;
    /* box-shadow: 0px 4px 2px rgb(0 0 0 / 8%); */
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: .7rem;
  }

  .buttonCopy {
    color: #cbcbcb;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    letter-spacing: .05rem;
    padding: 0;
    margin: 0;
  }

  .arrowCta {
    color: #cbcbcb;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
    letter-spacing: 0;
  }
}