.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 200;
  font-size: .9rem;
  animation: header;
  animation-duration: 1s;
  position: sticky;
  z-index: 99;
}

/* key frame*/

@keyframes header {
  0% {opacity: 0;}
  50% {top: 10px; opacity: 0;}
  100% {top: 0px; opacity: 1;}
}



/* Header styling */

.Home {
  cursor: pointer;
}

.NotHome {
  cursor: pointer;
  color: #808080;
}

.greyed {
  cursor: pointer;
  color: #808080;
}

.whiteOut {
  cursor: pointer;
  color: #fff;
}


.headerImage {
  width: auto;
  height: auto;
  visibility: hidden;
  display: none;
}

.headerMiddle {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMiddleFirst {
  margin-right: 3rem;
  color: #808080;
  cursor: pointer;
}

.active {
  color: fff;
  margin-right: 3rem;
  cursor: pointer;
}

.headerLast {
  float: right;
  display: flex;
}

.headerDivider {
  margin-top: 1rem;
  border-top: 1px solid #272727;
  color: #272727;
  visibility: visible;
}



/* Mobile Responsiveness */

@media (max-width: 760px) {
  
  .headerImage {
    width: auto;
    height: auto;
    visibility: visible;
  }

  .headerMiddle {
    display: none;
    visibility: hidden;
  }
  
  .headerMiddle p {
    display: none;
    visibility: hidden;
  }

  .headerLast {
    display: flex;
  }

  .headerLast p {
    display: none;
  }

  .headerDivider {
    margin-top: 1rem;
    border-top: 1px solid #272727;
    color: #272727;
    visibility: visible;
  }

  .Home {
    cursor: pointer;
    color: #fff;
    visibility: visible;
  }
  
  .NotHome {
    cursor: pointer;
    color: #fff;
  }

  .greyed {
    cursor: pointer;
    color: #808080;
    display: none;
  }
  
  .whiteOut {
    cursor: pointer;
    color: #fff;
    display: none;
  }

}