@font-face {
  font-family: "Untitled-Sans";
  src: url("/public/fonts/untitled-sans-light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Untitled-Sans";
  src: url("/public/fonts/untitled-sans-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT Super Display";
  src: url("../public/fonts/GT-Super-Display-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/fonts/JetBrainsMono-Thin.woff2");
  font-weight: 100;
}

/* font styles defined above */

.headingOverview {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.heading {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 6rem;
  animation: heading;
  animation-duration: 1.5s;
  position: relative;
}

@keyframes heading {
  0% {opacity: 0;}
  50% {top: 20px; opacity: 0;}
  100% {top: 0px; opacity: 1;}
}

.heading h1 {
  font-family: 'GT Super Display', serif;
  color: #cbcbcb;
  font-weight: 100;
  font-size: 2.6rem;
  margin: 0;
}

.heading h6 {
  padding: 0;
  font-family: 'Untitled Sans', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: #999;
  letter-spacing: .02rem;
  margin-top: 1.5rem;
  margin-bottom: 1.4rem;
}

.heading p {
  margin: 0;
  padding: 0;
  font-family: 'Untitled Sans', sans-serif;
  font-weight: 100;
  color: #999;
  letter-spacing: .01rem;
  line-height: 1.5rem;
}

.headerImage {
  margin-top: 6rem;
  animation: headerImage;
  animation-duration: 2s;
  position: relative;
}

@keyframes headerImage {
  0% {opacity: 0;}
  50% {top: 40px; opacity: 0;}
  100% {top: 0px; opacity: 1;}
}

.sectionSplit {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  animation: sectionSplit;
  animation-duration: 2.5s;
  position: relative;
}

@keyframes sectionSplit {
  0% {opacity: 0;}
  50% {top: 40px; opacity: 0;}
  100% {top: 0px; opacity: 1;}
}

.sectionSplit h2 {
  font-family: 'GT Super Display', serif;
  color: #cbcbcb;
  font-weight: 100;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 0;
  width: 40%;
}

.sectionSplit p {
  margin: 0;
  padding: 0;
  font-family: 'Untitled Sans', sans-serif;
  font-weight: 100;
  color: #999;
  letter-spacing: .01rem;
  line-height: 1.5rem;
  width: 60%;
}




/* Mobile responsiveness defined below */

@media (max-width: 760px) {

  .heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10rem;
    animation: heading;
    animation-duration: 1.5s;
    position: relative;
  }

  .heading h1 {
    font-family: 'GT Super Display', serif;
    color: #cbcbcb;
    font-weight: 100;
    font-size: 1.8rem;
    margin: 0;
    line-height: 2.4rem;
  }
  
  .heading h6 {
    padding: 0;
    font-family: 'Untitled Sans', sans-serif;
    font-weight: 100;
    font-size: .9rem;
    color: #999;
    letter-spacing: .02rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .heading p {
    margin: 0;
    padding: 0;
    font-family: 'Untitled Sans', sans-serif;
    font-weight: 100;
    font-size: .9rem;
    color: #999;
    letter-spacing: .01rem;
    line-height: 1.4rem;
  }

  .headerImage {
    margin-top: 2rem;
    animation: headerImage;
    animation-duration: 2s;
    position: relative;
  }

  /* Section Split Mobile Responsiveness */

  .sectionSplit {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .sectionSplit h2 {
    font-family: 'GT Super Display', serif;
    color: #cbcbcb;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
    width: auto;
  }
  
  .sectionSplit p {
    margin-top: 1rem;
    padding: 0;
    font-family: 'Untitled Sans', sans-serif;
    font-weight: 100;
    font-size: .9rem;
    color: #999999;
    letter-spacing: .01rem;
    line-height: 1.4rem;
    width: auto;
  }

}