@font-face {
  font-family: "Untitled-Sans";
  src: url("/public/fonts/untitled-sans-light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Untitled-Sans";
  src: url("/public/fonts/untitled-sans-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/fonts/JetBrainsMono-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/public/fonts/JetBrainsMono-Thin.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "GT Super Display";
  src: url("/public/fonts/GT-Super-Display-Light.woff2");
  font-weight: 300;
}

/* font attributes defined above */

.caseCardContainer {
  margin-top: 2rem;
  font-family: 'Untitled Sans', sans-serif;
}

.caseCardImageContainer {
  width: auto;
}

.caseCardContent {
  font-family: 'Untitled Sans', sans-serif;
  color: #CBCBCB;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.caseCardContent h5 {
  margin-top: .75rem;
  font-family: 'Untitled Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #CBCBCB;
}

.caseCardContent p {
  margin-top: .5rem;
  font-family: 'Untitled Sans', sans-serif;
  font-size: .8rem;
  letter-spacing: .08rem;
  font-weight: 300;
  color: #808080;
  visibility: visible;
}

/* mobile responsiveness shit below */

@media (max-width: 760px) {
  .caseCardContent p {
    font-family: 'Untitled Sans', sans-serif;
    font-size: .9rem;
    font-weight: 300;
    color: #808080;
    visibility: hidden;
    display: none
  }

  .caseCardContent h5 {
    margin-top: .5rem;
    font-family: 'Untitled Sans', sans-serif;
    font-size: .9rem;
    font-weight: 300;
    color: #CBCBCB;
  }
}