.caseCardContainer {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caseCardImage {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caseCardContent {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}