.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 200;
  font-size: .9rem;
}

.headerDivider {
  height: 1px;
  color: #808080;
  width: auto;
}

.headerImage {
  width: auto;
  height: auto;
  visibility: hidden;
}

.headerMiddle {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMiddle p {
  color: #808080;
}

.headerMiddleFirst {
  margin-right: 2rem;
}

.headerLast {
  float: right;
  display: flex;
}

.container {
  width: auto;
}


@media (max-width: 760px) {
  
  .headerImage {
    width: auto;
    height: auto;
    visibility: visible;
  }

  .headerMiddle {
    display: none;
    visibility: hidden;
  }
  
  .headerMiddle p {
    display: none;
    visibility: hidden;
  }

  .headerLast {
    display: flex;
  }

  .headerLast p {
    display: none;
  }

}