.container {
  width: auto;
}

/* Header CSS start */

.headerDivider {
  margin-top: .5rem;
  border-top: 1px solid #272727;
  color: #272727;
  visibility: visible;
  animation: headerDivider;
  animation-duration: 1s;
  position: relative;
}

@keyframes headerDivider {
  0% {opacity: 0;}
  50% {top: 10px; opacity: 0;}
  100% {top: 0px; opacity: 1;}
}

.sectionRows {
  display: flex;
  flex: inline-flex;
  gap: 1rem;
  justify-content: space-between;
}




/* media query for mobile */

@media (max-width: 760px) {

  .headerDivider {
    margin-top: .5rem;
    border-top: 1px solid #272727;
    color: #272727;
    visibility: visible;
  }

  .sectionRows {
    display: grid;
    row-gap: 1rem;
  }

}