.container {
  width: auto;
}

/* Header CSS start */

.headerDivider {
  margin-top: .5rem;
  border-top: 1px solid #272727;
  color: #272727;
  visibility: visible;
}

.sectionRows {
  display: flex;
  flex: inline-flex;
  justify-content: space-between;
}

/* Header end */

/* media query for mobile */

@media (max-width: 760px) {

  .headerDivider {
    border-top: 1px solid #272727;
    color: #272727;
    visibility: visible;
  }

  .sectionRows {
    display: grid;
    row-gap: 1rem;
  }

}